* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  color: #ebdbb2;
  padding: 0 6px;
  margin: 0;
}

window#waybar {
  background: #1d2021;
  padding: 2px 4px;
}

#workspaces button label {
  color: inherit;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button:hover {
  background: #3c3836;
}
#workspaces button.active {
  background: linear-gradient(to right, rgba(79,193,255,0.8), rgba(79,193,255,0.8));
}

#window label {
  color: #ebdbb2;
}

#cpu, #memory, #network {
  border-bottom: 3px solid;
}
#cpu {
  color: #b8bb26;
  border-color: #b8bb26;
}
#memory {
  color: #fabd2f;
  border-color: #fabd2f;
}

#wireplumber {
  color: #689d6a;
  border-bottom: 3px solid #689d6a;
}
#wireplumber.muted {
  color: #cc241d;
  border-color: #cc241d;
}

#language {
  color: #4fc1ff;
  border-bottom: 3px solid #4fc1ff;
}

#tray {
  color: #4fc1ff;
  border-bottom: 3px solid #4fc1ff;
}

#clock {
  color: #b16286;
  border-bottom: 3px solid #b16286;
}
